<p>Bonjour {{ entity.username }},</p>

<p>Si vous recevez cet email, c'est que vous avez oublié votre mot de passe.
Pour remédier à la situation, nous vous en avons généré un provisoire :</p>
<p><b><u>Mot de passe provisoire :</u></b> <i>{{ temporaryPassword }}</i></p>
<p><b><u>Attention :</u></b> Ce mot de passe est provisoire. De ce fait, nous vous invitons vivement à le modifier dès que vous vous serez connecté à votre compte.</p>
<p>Cordialement,</p>
<p>L'équipe de <b>Proverbius</b></p>