{% extends 'generic_layout.html.twig' %}

{% block head_title %}Confirmation - Mot de passe oublié{% endblock %}
{% block main_title %}Mot de passe oublié{% endblock %}

{% block main_content %}
	<p>Un email vous a été envoyé. Vous y trouverez la procédure afin de pouvoir vous reconnecter sur <b>Proverbius</b> !</p>
{% endblock %}